<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>Detalhes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="detail-head">
    <img src="assets/img/det-img.png" />
    <div class="more-info">
      <ion-fab left>
        <button (click)="presentRateModal('price')" class="add-btn" ion-fab>
          <ion-icon name="logo-usd" *ngIf="!save"></ion-icon>
          <ion-icon name="md-checkmark" *ngIf="save"></ion-icon>
        </button>
      </ion-fab>
      <img src="assets/img/img1.png" />
      <ion-fab right>
        <button (click)="presentMapModal()" color="secondary" ion-fab><ion-icon name="md-map"></ion-icon></button>
      </ion-fab>
    </div>
  </div>

  <div class="detail" text-center padding>
    <h4>Bar do Léo</h4>
    <p class="det-info">Bar e Lanchonete</p>
    <p class="det-info">O Bar Léo é um dos bares mais tradicionais da cidade. Inaugurado em 1940,  ficou conhecido pelo saboroso chopp que é considerado por muitos como o melhor de São Paulo. </p>
    <span class="phone">
      <ion-icon name="md-call"></ion-icon>
      91234 56789
    </span>

    <ion-grid class="appointment-day" no-padding>
      <ion-row>
        <!-- <ion-col col-5>
          <ion-item no-lines>
            <ion-select>
              <ion-option value="fst" [selected]="true">Tuesday</ion-option>
              <ion-option value="Wednesday">Wednesday</ion-option>
              <ion-option value="Thursday">Thursday</ion-option>
              <ion-option value="Saturday">Saturday</ion-option>
              <ion-option value="Sunday">Sunday</ion-option>
              <ion-option value="Monday">Monday</ion-option>
            </ion-select>
          </ion-item>
        </ion-col> -->
        <ion-col col-12 class="status-color">
          <p> Aberto - 9:00 AM - 7:00 PM</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="rate" padding text-left>
      <h4>Classifição</h4>
      <ion-item no-padding no-lines>
        <ion-avatar item-start>
          <img src="assets/img/user-img.png">
        </ion-avatar>
        <h2>Homer Simpson <span>3 dias atrás</span></h2>
        <div class="stars">
          <ion-icon name="beer"></ion-icon>
          <ion-icon name="beer"></ion-icon>
          <ion-icon name="beer"></ion-icon>
          <ion-icon name="beer"></ion-icon>
          <ion-icon name="beer-half"></ion-icon>
          <p no-margin>4.0</p>
        </div>
        <p>Ótimo Chopp & atendimento</p>
      </ion-item>
      <button (click)="presentRateModal()" ion-button block text-capitalize color="primary">Classifique este bar</button>
    </div>
  </div>

</ion-content>